<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs') %>
        <title>Blog</title>
    </head>
    <body>
        <%- include('./partials/nav.ejs') %>

        <div class="container mt-4">
            <img src="<%= blog.createdBy.profileImageUrl %>" width="50px" />
            <%= blog.createdBy.fullName %>
        </div>

        <div class="container mt-4">
            <h1><%= blog.title %></h1>
            <img src="<%= blog.coverImageURL %>" width="700px" />
            <pre class="mt-3"><%= blog.body %></pre>
        </div>

        <div class="container mt-3">
            <h3>Comments <% if (comments.length) { %>
                (<%= comments.length %>)
            <% } %></h3>
            <% if (locals.user) { %>
            <form action="/blog/comment/<%= blog._id %>" method="post" autocomplete="off">
                <div class="mb-3">
                    <input
                        type="text"
                        class="form-control"
                        id="content"
                        aria-describedby="content"
                        placeholder="Write your Comment here..."
                        name="content" />
                </div>
                <button type="submit" class="btn btn-primary">Comment</button>
            </form>
            <% } else { %>
                <h4>SignIn To Write Your Comment...</h4>
            <% } %>
            <div class="mt-3">
                <% comments.forEach(comment => { %>
                <div>
                    <img src="<%= comment.createdBy.profileImageUrl %>" width="50px" />
                    <%= comment.createdBy.fullName %>
                    <pre><%= comment.content %></pre>
                </div>
                <% }) %>
            </div>
        </div>
        

        <%- include('./partials/scripts.ejs') %>
    </body>
</html>

